@page
@model TaskManagementSystem.RazorApp.Pages.Login.AccessDeniedModel
@{
}
<div class="container mt-20 justify-content-center">
    <div class="row" style="padding:20px">
        <h2 class="alert alert-danger">You have not access to the page you are looking</h2>
    </div>
</d