@using System.Security.Claims
@{
    if(User.Identity.IsAuthenticated)
    {
        var userRole = User.FindFirstValue(ClaimTypes.Role);
        if(userRole == "Admin")
        {
            <a asp-page="/User/ListUser" asp-area="" class="nav-link text-dark">Users</a>
        }
    }
}